<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.security.mapper.UserMapper">
	<select id="getUserInfo" resultType="com.yedam.app.security.service.UserVO">
		select login_id
			        ,password
			        ,role_name
		from t_user join t_user_role
				            on t_user.id = t_user_role.user_id
				            join t_role
				            on t_user_role.role_id=t_role.id
		where login_id =#{id}
			
	</select>



</mapper>