<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">

<head>
	<meta charset="UTF-8">
	<title>Wish🍕🙄</title>
</head>

<body>
	<h3>사원 정보 등록</h3>
	<form name="insertForm" th:action="@{/empInsert}" method="post">
		<div class="mb-2">
			<div>
				<label class="form-label">이름</label>
				<input class="form-control" type="text" name="empname">
			</div>
			<div>
				<label class="form-label">상사번호</label>
				<input class="form-control" type="number" name="mgr">
			</div>
			<div>
				<label class="form-label">급여</label>
				<input class="form-control" type="number" name="sal">
			</div>
			<div>
				<label class="form-label">부서번호</label>
				<input class="form-control" type="number" name="deptid">
			</div>
			<div>
				<label class="form-label">입사일자</label>
				<input class="form-control" type="date" name="hiredate">
			</div>
			<div>
				<button type="submit">👀등록👀</button>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		//document.querySelector('form[name="insertForm"]');
		insertForm.addEventListener('submit', function (event) {
			//submit일시정지후 아래내용 다 수행후 마지막쪽에 submit시키기
			event.preventDefault();

			let ename = document.querySelector('input[name="empname"]');
			if (ename.value == '') {
				alert('이름은 필수 값입니다')
				ename.focus();
				return;
			}

			let mgr = document.querySelector('input[name="mgr"]');
			if (mgr.value == '') {
				alert('매니저 번호는 필수 값입니다')
				mgr.focus();
				return;
			}

			let sal = document.querySelector('input[name="sal"]');
			if (sal.value == '') {
				alert('급여는 필수 값입니다')
				sal.focus();
				return;
			} else if (sal.value < 1000 || sal.value > 99999) {
				sal.value = '';
				alert('급여범위는 1000부터 99999까지 입니다')
				sal.focus();
				return;
			}


			insertForm.submit();

		});
	</script>

</body>

</html>