<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>test🍕🧀😀🍕🧀😀</title>
</head>

<body>
	<h3>Thymeleaf Test</h3>
	<th:block th:each="num : ${#numbers.sequence(1,5)}">
		<p th:text="${num}" />
	</th:block>
	<hr>
	<!--/* 기본방식 => th:속성 ="${}" or th:src="@{}" */-->
	<!--/* text속성 => 템플릿문법, [[]]  */-->
	<p>[[ ${'사원번호 : ' + empList[0].empid } ]]</p>
	<p> 사원이름 : [[ ${empList[0].empname } ]]</p>
	<p>[[ | 사원이름 : ${empList[0].empname } | ]]</p>
	<p>[[ ${empList[0].mgr} ]]</p>
	<script>
		let eid = 'Kang'
		let msg = `사원이름 + ${eid} `
		console.log(msg);
	</script>

</body>

</html>