<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width" />

<title>Speech color changer</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
<link rel="stylesheet" href="style.css" />
</head>

<body>
	<h1>Speech color changer</h1>

	<p class="hints"></p>
	<div>
		<p class="output">
			<em>...diagnostic messages</em>
		</p>
	</div>
	
	<div id= "state">
	</div>

	<script>
		
		if (annyang) {
			  // Add our commands to annyang
			  annyang.addCommands({
			    'hello': function() { alert('Hello world!'); }
			  });
			  
			  annyang.debug();  //입력된 음성을 크롬 console에 출력함
			  
			  annyang.alert();

			  annyang.setLanguage('ko');   

			  // Tell KITT to use annyang
			  SpeechKITT.annyang();

			  // Define a stylesheet for KITT to use
			  SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

			  // Render KITT's interface
			  SpeechKITT.vroom();
			}
	</script>
	
	
</body>


</html>