<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script src="jquery.js"></script>
    <script src="DetectRTC.js"></script>
  </head>

  <body>
    <div id="content">

      <div class="wrap">

        <div id="result">
          <span class="final" id="final_span"></span>
          <span class="interim" id="interim_span"></span>
        </div>
        <button id="btn-mic" class="off">마이크 <span></span></button>
        <button id="btn-tts">Text to speech</button>
        <audio id="audio" src="audio/ending.mp3"></audio>

        <br /><br />

      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>