<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Wish🍕🙄</title>
</head>
<body>
<h3>글 등록</h3>
	<form name="boardInsert" th:action="@{/boardInsert}" method="post">
		<div>
			<div>
			<label class="form-label">제목</label>
			<input class="form-control" type="text" name="boardTitle" >		
		</div>
		<div>
			<label class="form-label">내용</label>
			<input class="form-control" type="text" name="boardContent" >		
		</div>
		<div>
			<label class="form-label">작성자</label>
			<input class="form-control" type="text" name="boardWriter" >		
		</div>
		<div>
			<label class="form-label">작성일</label>
			<input class="form-control" type="date" name="regdate" >		
		</div>
		<div>
			<label class="form-label">이미지 첨부</label>
			<input class="form-control" type="file" name="uploadFiles" multiple >		
		</div>
		<div>
			<button type="submit">👀등록👀</button>
		</div>
		</div>
	</form>
</body>
</html>