<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Wish🍕🙄</title>
</head>
<body>

	<div>
		<h3>도서별 대여매출현황</h3>
		<table>
			<thead>
				<tr>
					<th>도서번호</th>
					<th>도서명</th>
					<th>대여총계</th>
					<th>대여횟수</th>
				</tr>
			</thead>
			<tbody th:each="rent : ${rents}">
				<tr>
				<td></td>
					<td>[[ ${rent.BOOK_NO} ]]</td>
					<td>[[ ${rent.BOOK_NAME} ]]</td>
					<td>[[ ${rent.ALLSUM} ]]</td>
					<td>[[ ${rent.CNT} ]]</td>
				</tr>
			</tbody>
		</table>
		
		
	</div>
</body>
</html>